aniso8601==6.0.0
asn1crypto==0.24.0
attrs==19.1.0
Babel==2.7.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
configparser==5.0.0
cryptography==3.2
Flask==1.0.3
Flask-Cors==3.0.8
Flask-JWT-Extended==3.18.2
flask-restplus==0.12.1
Flask-SQLAlchemy==2.4.0
idna==2.8
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
MarkupSafe==1.1.1
pycparser==2.19
PyJWT==1.7.1
pyrsistent==0.15.2
pytz==2019.1
requests==2.22.0
six==1.12.0
speaklater==1.3
SQLAlchemy==1.3.4
urllib3==1.25.3
Werkzeug==0.15.4
zipp==3.1.0
